USE [master]
GO
/****** Object:  Database [Diyet_Program]    Script Date: 5.07.2025 21:21:36 ******/
CREATE DATABASE [Diyet_Program]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Diyet_Program', FILENAME = N'C:\Users\orhan\Desktop\MSSQL16.MSSQLSERVER\MSSQL\DATA\Diyet_Program.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Diyet_Program_log', FILENAME = N'C:\Users\orhan\Desktop\MSSQL16.MSSQLSERVER\MSSQL\DATA\Diyet_Program_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diyet_Program].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diyet_Program]
GO
/****** Object:  Table [dbo].[Egzersiz]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Egzersiz](
	[Egzersiz_Ad] [varchar](255) NOT NULL,
	[Harcanan_Kalori] [float] NULL,
	[Egzersiz_ID] [int] IDENTITY(1,1) NOT NULL,
	[Set_Sayısı] [int] NULL,
	[Tekrar_Sayısı] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Egzersiz_Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Güncel_Veriler]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Güncel_Veriler](
	[GüncelID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanıcı_ID] [int] NULL,
	[Güncel_Kilo] [float] NULL,
	[Güncel_Göğüs] [decimal](5, 2) NULL,
	[Güncel_Bel] [decimal](5, 2) NULL,
	[Güncel_Kalça] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GüncelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hedef]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hedef](
	[Hedef_ID] [int] NOT NULL,
	[Hedef_Kilo] [float] NULL,
	[Hedef_Kalori] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Hedef_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kalori]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kalori](
	[Kalori_ID] [int] NOT NULL,
	[Toplam_Kalori] [float] NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Kalori_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kilo_Takip]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kilo_Takip](
	[Kilo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_ID] [int] NULL,
	[Tarih] [date] NULL,
	[Kilo] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Kilo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcı]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcı](
	[KullanıcıAD] [varchar](50) NOT NULL,
	[Şifre] [varchar](255) NOT NULL,
	[Yaş] [int] NULL,
	[Kilo] [float] NULL,
	[Boy] [float] NULL,
	[Kullanıcı_ID] [int] IDENTITY(1,1) NOT NULL,
	[E_mail] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Kullanıcı_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Su_Takip]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Su_Takip](
	[SuTakip_ID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanıcı_ID] [int] NULL,
	[Tarih] [date] NULL,
	[GunlukSuMiktari] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SuTakip_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vücut_Ölçüsü]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vücut_Ölçüsü](
	[ÖlçüID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanıcı_ID] [int] NULL,
	[Göğüs] [decimal](5, 2) NULL,
	[Bel] [decimal](5, 2) NULL,
	[Kalça] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ÖlçüID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yiyecek]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yiyecek](
	[Yiyecek_ID] [int] NOT NULL,
	[Yiyecek_AD] [varchar](25) NULL,
	[Kalori] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Yiyecek_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yönetici]    Script Date: 5.07.2025 21:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yönetici](
	[Yönetici_e_mail] [varchar](255) NULL,
	[Yönetici_Ad] [varchar](20) NULL,
	[Yönetici_Şifre] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanıcı] ADD  DEFAULT ('example@example.com') FOR [E_mail]
GO
ALTER TABLE [dbo].[Güncel_Veriler]  WITH CHECK ADD FOREIGN KEY([Kullanıcı_ID])
REFERENCES [dbo].[Kullanıcı] ([Kullanıcı_ID])
GO
ALTER TABLE [dbo].[Kilo_Takip]  WITH CHECK ADD FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanıcı] ([Kullanıcı_ID])
GO
ALTER TABLE [dbo].[Su_Takip]  WITH CHECK ADD FOREIGN KEY([Kullanıcı_ID])
REFERENCES [dbo].[Kullanıcı] ([Kullanıcı_ID])
GO
ALTER TABLE [dbo].[Vücut_Ölçüsü]  WITH CHECK ADD FOREIGN KEY([Kullanıcı_ID])
REFERENCES [dbo].[Kullanıcı] ([Kullanıcı_ID])
GO
USE [master]
GO
